<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
            <nav style="background-color: #AAE7B7; height: 95px" class="navbar w-100 navbar-expand">
              <a class="navbar-brand" href="{% url 'admin_home' %}"><img src="https://pbs.twimg.com/media/F4nXbsNWcAAl7uD?format=png&name=small" class="w-25"></a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" style="color: #FFF8F8; font-family: Inter; font-size: 20px" href="{% url 'product_list_admin' %}">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: #FFF8F8; font-family: Inter; font-size: 20px" href="{% url 'about_us_admin' %}">About us</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #FFF8F8; font-family: Inter; font-size: 20px" href="{% url 'add_product' %}">Add Product</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #FFF8F8; font-family: Inter; font-size: 20px" href="#">Order</a>
                  </li>
                </ul>
                <form method="get" class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search by product name">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
              </div>
            </nav>
        </div>
     <div class="row">
        <img src="https://www.xylem.com/en-mk/solutions/agriculture-irrigation/contentassets/agriculture.jpg" class="w-100" style="height: 350px">
    </div>
    <div class="row" style="background-color: #F0F4E7">
{#         <ul class="list-group m-3">#}
            {% for product in products %}
                <div class="card m-2" style="width: 18rem;">
                <h5 class="card-title text-center" style="color: #3C9E0E; font-family: Inter">{{ product.name }}</h5><br>
                    <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-right" style="color: #3C9E0E; font-family: Inter">{{ product.price }} denari</p>
                        <form method="post" action="{% url 'delete_product' kod=product.kod %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Delete</button>
                        </form>
                    <a href="{% url 'edit_product' kod=product.kod %}" class="btn btn-success">Edit</a>
                    </div>


                    </div>
                </div>
{#                <li class="list-group-item">#}

{#                </li>#}
            {% empty %}
{#                <li class="list-group-item">No products found.</li>#}
            {% endfor %}
{#        </ul>#}
<div class="row" style="background-color: #F0F4E7">
        <a href="{% url 'custom_login' %}" class="text-success">Log out</a>
    </div>
    </div>

</div>
{#<script>#}
{#    function deleteProduct(button) {#}
{#        const kod = button.getAttribute('data-product-id');#}
{##}
{#        $.ajax({#}
{#            type: 'POST',#}
{#            url: '{% url "delete_product" %}',  // Replace with your actual URL#}
{#            data: {#}
{#                product_kod: kod,#}
{#                csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#            },#}
{#            success: function(response) {#}
{#                const productElement = button.closest('.list-group-item');#}
{#                productElement.remove();#}
{#            },#}
{#            error: function(xhr, errmsg, err) {#}
{#                console.log(errmsg);#}
{#                // Handle error here if needed#}
{#            }#}
{#        });#}
{#    }#}
{#</script>#}
</body>
</html>